body {
  background-color: ghostwhite;
  padding: 1vh 3vw;
  min-height: 98vh;
}

header h1 {
  font-size: 28px;
  font-weight: bold;
  color: rgb(200, 70, 50);
}

.content-block {
  width: 100%;

  box-sizing: border-box;
  background-color: white;
  padding: 1vh 2vw;
  margin: 2vh 0;

  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 0 4px 16px rgba(80, 80, 80, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-block-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

.content-block-header h4 {
  font-size: 20px;
  font-weight: bold;

  margin-bottom: 8px;
}

.content-block-header h5 {
  font-size: 16px;
  margin-bottom: 8px;
}

.content-block-header-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: auto;
}

.content-block h3 {
  font-size: 16px;
  font-weight: bold;

  margin: 2vh 0;
}

.content-block-comments h4 {
  font-weight: normal;

  margin: 2vh 0 1vh 0;
}

.comment-link {
  margin-top: 1vh;
  color: rgb(50, 50, 255);
  cursor: pointer;

  text-decoration: underline;
}

.loading {
  margin: 2vh auto;

  font-size: 32px;
  font-weight: bold;
}

.center {
  width: 100%;
  height: 90vh;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  font-weight: bold;
}

input {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 4px;

  outline: none;

  height: 36px;
  font-size: 20px;

  margin: 1vh 0;
  padding: 0.5vw 1vw;
  box-sizing: border-box;
}
